.batman{
  position: absolute;
  top: 0;
  left: 0;
  animation:  slide 3s ease-in forwards,
              bounce 1.2s linear 3s 2;
}

.joker{
  position: relative;
  top: 0px;
  left: 0px;
}

@keyframes slide {
  from { transform:  translate(0px) scale(1) rotate(0deg); opacity: 0.3; }
  to { transform:  translate(790px, 360px) scale(5.5) rotate(990deg); opacity: 1;}
}

@keyframes bounce {
  0% { transform: translate(790px, 360px) rotate(990deg) scale(5.5);}
  25% { transform:  translate(790px, 360px) rotate(990deg) scale(6.8);}
  50% { transform: translate(790px, 360px) rotate(990deg) scale(5.5);}
  75% { transform:  translate(790px, 360px) rotate(990deg) scale(7);}
  100% { transform: translate(790px, 360px) rotate(990deg) scale(5.5);}
}