*{
    font: 12px normal verdana, helvetica, sans-serif;
    color: rgb(68, 68, 68)
}

main, header, nav, footer{
    border: 1px solid rgb(189, 201, 31);
    margin: 4px;
}

main {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.mainPic{
    width: 80%;
}

header {
    background-color: rgb(134, 133, 133);
    padding: 30px 50px 10px;
    text-align: center;
}

header h1 {
    font: 30px bold impact, verdana;
    color: white;
    text-shadow: 3px 3px 5px rgb(24, 24, 24); 
}

header h2 {
    color: rgb(233, 233, 233);
}

nav {
    background-color: rgb(24, 24, 24);
    color: white;
    padding-right: 10px;
    
}

nav ul, footer ul{
    list-style-type: none;
}

.white-color{
    color: white;
    text-decoration: none;
}

footer{
    background-color: rgb(134, 133, 133);
    padding: 25px;
}

.center-margin{
    margin: 0 auto;
}

.contact label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formContainer {
    margin: 30px;
    padding: 20px;
    background-color: white;
}

/* media queries */

@media screen and (min-width: 1024px){
    
    *{
        font: 18px normal verdana, helvetica, sans-serif;
        color: black;
        line-height: 1.5rem;
    }
    
    main{
        background: rgb(175, 175, 240);
    }

    .linav{
        display: inline;
        padding: 10px;
    }

    nav {
        text-align: end;
    }

    .mainPic{
        width: 400px;
    }
}



/*

   nav {
        text-align: end;
    }

.linav{
    display: inline;
    padding: 10px;

.center-margin{    
width: 500px;

main p{
    font-size: 1rem;
}

*{
    font: 18px normal verdana, helvetica, sans-serif;
}

.mainPic{
    width: 80%;
}

*/