*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(22, 22, 22);
  color: white;
}

h1, h2, h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

button {
  padding: 3px;
  color: white;
  background: rgb(77, 77, 77);
  border-radius: 3px;
  border: none;
}

button:hover {
  background: rgb(48, 48, 48);
}

input {
  padding: 2px;
  border-radius: 3px;
  border: solid 1px grey;
}

.listcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 40px 60px 0 60px;
  text-align: center;
  color: black;
}

.list-item {
  list-style-type: none;
  text-align: left;
  padding: 3px 10px;
}

.list-item:nth-child(2n + 1) {
  background: grey;
}

.list-item:first-child {
  margin-top: 10px;
}


.listbox {
  padding-top: 20px;
  background: white;
  border: solid 6px rgb(77, 77, 77);
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(139, 139, 139);
}

.item-quantity {
  padding: 2px 2px;
  color: white;
  background-color: rgb(82, 82, 82);
  border-radius: 10%;
}